{% extends "layout.html" %}

{% block title %}
    Contact
{% endblock %}

{% block content %}

<section class="section section-contacts">

    <h1>Contact</h1>    
    <div class="program-language-images-contact">
        <a href="#" class="contact-link">
            <img src="https://www.stickpng.com/assets/images/5847f98fcef1014c0b5e48c0.png" alt="GitHub logo">
        </a>
        <a href="#" class="contact-link">
            <img  src="https://image.flaticon.com/icons/png/512/56/56591.png" alt="LinkedIn logo">
        </a>
        <a href="#" class="contact-link">
            <img  src="https://png.pngtree.com/svg/20160520/fe6899fd9d.png" alt="email logo">
        </a>
    </div>
</section>

{% endblock %}